@font-face {
  font-family: 'Bivoac';
  src: url('../src/fonts/Bivoac\ Reguler\ Demo.otf');
}

@font-face {
  font-family: 'Abraham';
  src: url('../src/fonts/1\ Abraham\ Demo.otf');
}

@font-face {
  font-family: 'French';
  src: url('../src/fonts/Frenchpress\ freefont.otf');
}


.header{
  display: flex;
  justify-content: space-between;
  padding: 12px;
  align-items: center;
  background-color: #222222;
  nav{
    display: flex;
    align-items: center;
    .hamburguer{
      display: none;
    }
    ul{
      display: flex;
      gap: 20px;
      align-items: center;
      a{
        font-family: 'Bivoac';
        color: #FFFFFF;
        text-decoration: none;
        &:hover{
          text-decoration: underline;
          cursor: pointer;
        }
      }
    button{
      padding: 4px 24px;
      border-radius: 8px;
      border: none;
      font-size: 1.1rem;
      &:hover{
        cursor: pointer;
      }
    }
    button:nth-child(5){
      background-color: #DFB004;
      a{
        color: #1B1B1B;
        font-family: 'Abraham';
        &:hover{
          text-decoration: none;
        }
      }
      
    }
    button:nth-child(6){
      background-color: #2C2C2C;
      a{
        color: #EFBC02;
        font-family: 'Abraham';
        &:hover{
          text-decoration: none;
        }
      }  
    }
    }
  }
}

.footer{
  padding: 12px;
  display: flex;
  gap: 60px;
  align-items: center;
  background-color: #222222;
  p{
    font-size: 1.3rem;
    font-family:'French';
    color: #FFFFFF;
  }
}

@media(max-width:500px){
.header{
nav{
  .hamburguer{
    display: block;
  }
}
 .menu{
  display: flex;
  width: max-content;
  padding: 12px;
  margin-right: 12px;
  position: absolute;
  right: 0;
  top: 1%;
 
  ul{
    display: none;
    flex-direction: column;
    text-align: start;
    align-items: flex-start;  
  }
  img{
    margin-left: 100px;
  }
 }
}


}

