@font-face {
  font-family: 'Abraham';
  src: url('../../../src/fonts/1\ Abraham\ Demo.otf');
}
.links{
  display: flex;
  width: 500px;
  justify-content: space-between;
  margin-bottom: 60px;
  a{
    font-size: 1.1rem;
    font-family: 'Abraham';
    color: #FFFFFF;
    text-decoration: none;
    &:hover{
      cursor: pointer;
      text-decoration: underline;
    }
  }
}

@media(max-width:500px){
  .links{
  width: 300px;  
  }
}